
@{
    Layout = null;
}
@{
    var user = Session["user"] as DaleMusic.Models.UserInfo;
}

@using DaleMusic.Models;
@model List<MusicList>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的歌单</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/nav.css" rel="stylesheet" />
    <link href="~/Content/font/iconfont.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <script src="~/Scripts/js/Userjquery.min.js"></script>
    <script src="~/Scripts/js/nav.js"></script>

    <style>
        table, table tr th, table tr td {
            border: 1px solid #000000;
        }table {
            width: 600px;
            min-height: 25px;
            line-height: 25px;
            text-align: center;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    @*头部*@
    <div class="header">
        @*页面顶部*@
        <div class="container" style="height:65px">
            <!-- header -->
            <!-- logo -->
            @*Logo*@
            <div class="logo">
                <a href="/Music/Index"><img src="~/Content/images/logo.png" title="music" /></a>
            </div>
            <!-- logo -->
            <!-- top-nav -->
            @*导航*@
            <div class="top-nav">
                <span class="menu"> </span>
                <ul>
                    <li style="font-size:1em;"><a href="/Music/Index">首页</a></li>
                    <li class="active" style="font-size:1em;"><a href="/MusicList/Index/@user.UserID">我的歌单</a></li>
                    <li style="font-size:1em;"><a href="/User/Index">个人设置<span> </span></a></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <!-- top-nav -->
            <!-- script-for-menu -->
            <script>
                $(document).ready(function () {
                    $("span.menu").click(function () {
                        $(".top-nav ul").slideToggle(200);
                    });
                });
            </script>
            <!-- script-for-menu -->
        </div>
        <!-- header -->
    </div>
    <h2>Hello！欢迎来到 @user.UserName 的歌单</h2>
    <div>

        @if (Model.Count() > 0)
        {

            <table>
                <tr>
                    <th>音乐名称</th>
                    <th>歌手</th>
                    <th>音乐类型</th>
                    <th>国家</th>
                    <th>封面</th>
                    <th>发布日期</th>
                    <th>操作</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a href="/Music/Detail/@item.MusicID">@item.Music.MusicName</a></td>
                        <td><a href="/Music/SingerDatail/@item.Music.Singer.SingerID">@item.Music.Singer.SingerName</a></td>
                        <td>@item.Music.MusicType.TypeName</td>
                        <td>@item.Music.MusicCountry</td>
                        <td>
                            <img src="~/Content/images/@item.Music.MusicImage" style="height:70px;width:50px" />
                        </td>
                        <td>@item.Music.MusicDate.Year 年 @item.Music.MusicDate.Month 月</td>
                        <td>
                            <a href="/MusicList/Create?type=0&id=@item.MusicID">取消收藏</a>
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <h2 style="align-content:center">您还没有收藏歌曲</h2>
        }

    </div>
</body>
</html>

